td {
    font-size: 50px;
    width: 200px;
    height: 200px;
    text-align: center;

}
body {
    font-family: 'Kalam', cursive;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
    background-color: rgba(238, 170, 67, 0.884);

}

.hole div {
    height: 145px;
    width: 145px;
    border-radius: 50%;
    margin: 0 auto;
    cursor: pointer;
}


table {
    border: 2px solid black;
    background: url("https://media.istockphoto.com/photos/distressed-wooden-boards-picture-id624697496?k=6&m=624697496&s=612x612&w=0&h=ToAJYkHWg4Zqf7hvq-DLoZFVQZVf49I6gjKDNS-uyAg=");

}

.store div {
    height: 375px;
    width: 140px;
    border-radius: 40%;
    margin: 0 auto;
    cursor: pointer;
}

h1 {
    font-family: 'Kalam', cursive;
    font-size: 60px;
    margin: 0 auto;
}

.store div, .hole div {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8iL7TxqSAttZIzoVuDfd7PX7Pbge1hmo7Xon0SqlazPXg9OED_Q")
}

h3 {
    display: flex;
    justify-content: flex-start;
    font-size: 30px;
}

#p2-score {
    float: left;
    align-items: unset;
}

#p1-score {
    float: right;
    align-items: unset;
}

.turn {
    display: inline-flex;
    padding: 10px;
    margin: 10px 0;
    font-size: 25px;
    border: 2px solid black;
    background-color: rgb(86, 195, 209);
}

td img {
    pointer-events: none;
    width: 130%;
    position: relative;
    right: 20px;

}
button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    position: absolute; 
    margin-left: 604px;
    margin-right: auto;
    margin-bottom: 15px;
    left: 0;
    right: 0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 225px;
    height: 34px;
    font-family: 'Kalam', cursive;
    font-size: 20px;
}


.modal {
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 8; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
} 

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    height: 10%;
} 

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}